.rounded-xl{
    border-radius: 1rem;
}
.custom-table td, .custom-table th{
    padding: .5rem 1rem;
    text-align: center;
}
.custom-table thead th{
    background-color: var(--poste);
    border: none;
}
.custom-table thead th:first-of-type{
    border-radius: 1rem 0 0 0;
}
.custom-table thead th:last-of-type{
    border-radius: 0 1rem 0 0;
}
[class*=hover]{
    transition: .2s;
}